#main {
<<<<<<< HEAD
	width:99.8%;
	height:99.8%;
	border:1px solid #000;
	position:absolute;
}
#body {
	margin:0 auto;
	background-color:#E0FFFF;
	width:100%;
	height:92%;
=======
	width:100%;
	height:90%;
	border:1px solid #000;}
#body {
	margin:0 auto;
>>>>>>> parent of 1e95ccf... Word Worker
}
#header {
    background-color:Darkorange;
    color:white;
    text-align:center;
    padding:5px;}
#menu {
    background-color:#eeeeee;}
#footer {
    background-color:black;
    color:white;
    text-align:center;
<<<<<<< HEAD
    padding:5px;
    bottom:0;
    position:absolute;
    width:99.4%;
}
.menu{
    left:40%;top:20%;
    position:absolute;
    margin:auto;
}
#word{
    text-align:middle;
}

.button{
    width:90px;
    height:40px;
=======
    padding:5px; }
#money {
    background-color:#FFEBCD;
    float:center;
    text-align:center;
    padding:10px;}
#content{
	padding:5px;
	width:1280px;
    height:450px;
    text-align:center;
    background-color:#E0FFFF;
    display: table-cell;
    vertical-align:middle;}
.menu{
    display: block;
	position: relative;
	width:123px;
	height:50px;
	border-radius:50px;
    border:1px solid #fff;
    background-color: #E9E4E0;}

#beaker{
	width:100px;
	height:200px;
	background-color:#FFFFFF;
	border-bottom:10px solid;
	border-left:5px solid;
	border-right:5px solid;
	float:center;
	position:relative;
	margin:0 auto}
#solution{
	width:100px;
	height:50px;
	background-color:#99CCFF;
	position:absolute;
	bottom:0px;
>>>>>>> parent of 1e95ccf... Word Worker
}
	
.table, .table * {margin: 0 auto;padding: 0;font-size: 14px;font-family: Arial, 宋体, Helvetica, sans-serif;}
.table {display: table;width: 80%;border-collapse: collapse;}   
.table-tr {display: table-row; height: 30px;}   
.table-th {display: table-cell;font-weight: bold;height: 100%;border: 1px solid gray;text-align: center;vertical-align: middle;}   
.table-td {display: table-cell; height: 100%;border: 1px solid gray; text-align: center;vertical-align: middle;}   
